<mat-card class="example-card background-color" *ngIf="!initialApp">
  <div class="mode" *ngIf="env.production">Prod mode</div>
  <div class="mode" *ngIf="!env.production">Dev mode</div>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="text-primary">Shiba Inu</mat-card-title>
    <mat-card-subtitle class="text-secondary">Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p class="text-color">
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-flat-button
      class="btn-switch btn-primary btn-primary-text"
      (click)="currentThemeChange()"
    >
      {{ currentTheme }}
    </button>
    <button
      mat-button
      class="btn-ramdom btn-secondary btn-secondary-text"
      (click)="ramDomTheme()"
    >
      Ramdom
    </button>
  </mat-card-actions>
</mat-card>

<div class="loading" *ngIf="isLoading || initialApp">
  <div class="dot-windmill"></div>
</div>
