$bg-color: var(--bg-color);
$text-color: var(--text-color);
$text-primary: var(--text-primary);
$text-secondary: var(--text-secondary);
$btn-primary: var(--btn-primary);
$btn-primary-text: var(--btn-primary-text);
$btn-secondary: var(--btn-secondary);
$btn-secondary-text: var(--btn-secondary-text);