@import '_variable.scss';

.background-color {
  background-color: $bg-color;
}
.text-color {
  color: $text-color;
}
.text-primary {
  color: $text-primary;
}

.text-secondary {
  color: $text-secondary;
}

.btn-primary {
  background-color: $btn-primary;
}
.btn-primary-text {
  color: $btn-primary-text;
} 
.btn-secondary {
  background-color: $btn-secondary;
}
.btn-secondary-text {
  color: $btn-secondary-text;
} 